#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  background-color: rgb(113, 113, 113);
  border-radius: 8px;
  margin: 8px;
}

a {
  color:aquamarine;
  cursor: pointer;
}